<!--Home Profesor-->
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-icon type="button" (click)="volverInicio()" slot="start" name="arrow-back-outline"></ion-icon>
    <ion-icon type="button" (click)="logOut()" slot="end" name="log-out-outline"></ion-icon>
    <ion-title>RegistrApp</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <ion-card>
      <ion-card-header>
        <ion-card-title id="titulos">Perfil</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-img id="pImg" src="assets/img/mouimg.jpg"></ion-img>
        <ion-label id="titulos">Bienvenido profesor {{nombreUsuario}}</ion-label>

      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title id="titulos">Tus Clases</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <div class="qr-container">
          <ion-button id="BtnAzules" (click)="mostrarQR('assets/img/Clase1.png')"> QR Clase 1</ion-button>
        </div>
        <div class="qr-container">
          <ion-button id="BtnAzules" (click)="mostrarQR('assets/img/Clase2.png')"> QR Clase 2</ion-button>
        </div>
      </ion-card-content>
    </ion-card>
  </div>

  <!-- Modal para mostrar el QR en grande -->
  <ion-modal [isOpen]="mostrarModal" (didDismiss)="cerrarQR()">
    <ion-header>
      <ion-toolbar>
        <ion-title>QR de la Clase</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="cerrarQR()">Cerrar</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <div class="qr-modal-container">
        <ion-img [src]="qrSeleccionado" class="qr-grande"></ion-img>
      </div>
    </ion-content>
  </ion-modal>

  
</ion-content>
